.container {
  display: block; /* Ensure it takes up the full width of the viewport */
  position: relative; /* Required for sticky children */
  max-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}

.subs{
  margin-top: 15px;
}

.subsTitle{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.cardStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.card {
  /*max-width:500px;
  /* max-height: 750px; */
  background-color: #1D5DEC;
  color: #CBC3E3;
  border: 1px solid #ccc;
  margin: -7px; /* Adjust margin to provide spacing between cards */
  padding: 20px;
  cursor: pointer;
  border-radius: 7px;
  flex: 1;
  /* overflow: hidden; */
  transform: translateY(0);
  transition: transform 0.5s ease, width 0.5s ease;
  white-space: nowrap;
  border-bottom: none;
}

.cardHeader {
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.cardContent {
  padding: 5px;
  display: none;
}
.card:hover {
  max-width:500px;
  max-height: 750px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  transform: translateY(-10px);
  background-color: #fff;
  color: #1D5DEC;
  border-bottom: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.card:hover .cardContent {
  display: block;
}

.companyTitle{
  font-size: 10px;
  margin-top: 40px;
}